.card{
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  color: rgb(226, 100, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.btn{
  padding: 10px;
  background-color: rgb(171, 158, 245);
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

