.todo{
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
body{
    background-color: red;
} */